html {
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden;
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0em;
  color: #000;
  position: relative;
  font-family: 'Poppins-Regular';
  overflow-x: hidden;
  padding: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a,
a:hover {
  text-decoration: none !important;
}

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

:hover,
:focus {
  outline: none !important;
}

p:empty {
  display: none !important;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-Regular-vi.ttf);
} 

iframe {
  width: 100% !important;
  max-width: 100% !important;
}

figure {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.container {
  max-width: 1200px;
  width: 100% !important;
  margin: 0px auto;
}

img {
  max-width: 100%;
  height: auto;
}


/*HEADER*/
.header{
  background: #34343f;
  padding: 10px 0px;
  position: fixed;
  width: 100vw;
  z-index: 999;
  top: 0px;
  left: 0px;
  display: table;
}
.logo_site{
  max-width: 230px;
  width: 100%;
  float: left;
}
.menu_header{
  float: left;
  margin: 0px 0px 0px 100px;
}
.menu_header .nav_primary{
  float: left;
}
.menu_header .search_form{
    float: left;
    margin: 15px 0px 0px 10px;
}
.menu_header .qb_memu_header>li{
  float: left;
  position: relative;
}
.menu_header .qb_memu_header>li.menu-item-has-children>a::after{content: "\f107";font: normal normal normal 14px/1 FontAwesome;color: #fff;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;margin: 0px 0px 0px 5px;}
.menu_header .qb_memu_header>li.menu-item-has-children:hover>a::after{
  color: #c8cacb;
}
.menu_header .qb_memu_header>li:last-child>a{
  background: #0086da;
}
.menu_header .qb_memu_header>li:last-child:hover>a{
  background: #0086da;
  color: #fff;
}
.menu_header .qb_memu_header>li>a{
  font-size: 12px;
  padding: 19.5px 7px;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
}
.menu_header .qb_memu_header>li:hover>a,
.menu_header .qb_memu_header>li.current-menu-item>a{
  background: #111;
  color: #c8cacb;
}
.menu_header .qb_memu_header>li>ul.sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 290px;
    background: #fff;
    box-shadow: 3px 3px 15px 0 rgb(0 0 0 / 30%);
    color: #000;
      -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.menu_header .qb_memu_header>li:hover>ul.sub-menu{
  opacity: 1;
  visibility: visible;
}
.menu_header .qb_memu_header>li>ul.sub-menu>li{
  border-bottom: 1px dotted #e1e1e1
}
.menu_header .qb_memu_header>li>ul.sub-menu>li>a{
      display: block;
    padding: 10px 15px;
    color: #000;
}
.menu_header .qb_memu_header>li>ul.sub-menu>li>a:hover{
      background: #111;
    color: #c8cacb;
}
.phone_header{
  float: right;
}
.search_form .icon_search{
  font-size: 10px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #0086da;
}
.wrap_search_header{
      position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    opacity: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}
.wrap_search_header.show{
  opacity: 1;
  z-index: 99;
}
.wrap_search_header .re_form{
  position: relative;
  width: 100%;
  top: 120px;
  display: table;
}
.wrap_search_header .re_form input[type="text"]{
  width: 100%;
  height: 60px;
  background: #fff;
  border-radius: 6px;
  padding: 10px 80px 10px 20px;
  border: 1px solid #ebebeb;
  font-size: 16px;
}
.wrap_search_header .re_form button[type="submit"]{
  background: linear-gradient(135deg,#349ee0 0,#0086da 40%,#0086da 100%);
  position: absolute;
  top: 0px;
  right: 0px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 0px 6px 6px 0px;
}
.wrap_search_header .re_form button[type="submit"] i.fa{
  color: #fff;
font-size: 16px;
}
.wrap_search_header .close_popup{
  
font-size: 30px;
  
float: right;
  
color: #fff;
  
margin: 0px 0px 20px 0px;
  
position: relative;
  
top: 120px;
}
.phone_header .phone{
      background: linear-gradient(135deg,#b9dc8a 0,#94c551 40%,#8cc541 100%);
      padding: 15px;
      border-radius: 5px;
      padding: 8.5px 13px 8.5px 5px;
      color: #fff;
      text-transform: uppercase;
      margin: 0;
      white-space: nowrap;
      line-height: 37px;
      font-size: 13px;
      display: inline-block;
}
.phone_header .phone span.ico{
  font-size: 42px;
  vertical-align: middle;
  width: 30px;
  text-align: center;
}
/*END HEADER*/